{% extends 'master.html' %} 
{% block navbarsize %}
{% endblock %} 
{% block navright %}
{% include "nav-right.html" %}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4" style="padding-left:20px;padding-top:10px;">
                <h7>Search resluts for: "<span class="text-muted searchtxt">{{searchtext}}</span>"</h7>
            </div>
            <div class="col-md-3">
                <select class="form-control select select-default select2-offscreen searchfilter"
        data-toggle="select" name="searchfilter" tabindex="-1" title="">
                    <option value="1">
                        Friends
                    </option>
                    <option value="2">
                        Posts
                    </option>
                    <option value="3">
                        Location
                    </option>
                </select>
            </div>
        </div>
        <hr>
        <div id="resultsarea">
            {% include "friends-search.html" %}
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/app.js')}}"></script>
{% endblock %}