<form id="formregister" method="post">
            <div class="form-group">
              <label class="control-label" for="txtfname">First name</label>
              <input type="text" class="form-control" name="txtfname" id="txtfname">
            </div>
            <div class="form-group">
              <label class="control-label" for="txtlname">Last name</label>
              <input type="text" class="form-control" name="txtlname" id="txtlname">
            </div>
            <div class="form-group">
              <label class="control-label" for="txtemail">Email</label>
              <input type="text" class="form-control" name="txtemail" id="txtemail">
            </div>
            <div class="form-group">
              <label class="control-label" for="radiomale">Gender</label>
              <label class="radio" for="radiomale">
                <input type="radio" name="radiogender" data-toggle="radio" value="1" id="radiomale" required="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                 Male
              </label>
              <label class="radio" for="radiofemale">
                <input type="radio" name="radiogender" data-toggle="radio" value="2" id="radiofemale" required="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                 Female
              </label>
            </div>
            <div class="form-group">
              <label class="control-label" for="txtpassword">Password</label>
              <input type="password" class="form-control" name="txtpassword" id="txtpassword">
            </div>
            <div class="form-group">
              <label class="control-label" for="txtrepassword">Re-enter Password</label>
              <input type="password" class="form-control" name="txtrepassword" id="txtrepassword">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary col-md-12" id="btnregister">Register</button>
            </div>
          </form>